html,
body {
  background-color: white;
  color: #333;
}

nav,
.navbar {
  background-color: #ce2029;
  color: #eee;
}

.navbar a.navbar-brand,
.navbar a.nav-link,
.navbar a.nav-link:visited {
  color: #eee;
}

.navbar a.nav-link:hover {
  background-color: #999999;
  color: #fff;
}


.cardPane {
  background-color: #eee;
  color: black;
}

.cardPaneLeft{
  border-right: 1px solid rgb(77,55,41);
}

#newPtFirstName{
  display:inline-block;
}

#newPtLastName{
  display:inline-block;
}

.cardPaneRight{
  border-left: 1px solid rgb(77,55,41);
}

.memberCard {
  margin: 4px;
  padding: 4px 8px;
  border: 1px solid #999;
  border-radius: 5px;
  background-color: white;
}
.patientCard .birthDate{
  float: right;
}

.patientCard .lastName {

}

.memberBox {
  border: 5px solid lightblue;
  background-color: white;
  margin: 8px 4px;
}

.triageUrgent {
  border: 3px solid rgb(209,140,76);
  margin: 8px 4px;
}

.triageMinor {
  border: 3px solid rgb(50,80,220);
  margin: 8px 4px;
}

h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
  padding-bottom: 50px;
  width: 400px;
}

/* Experimental pop up window style below */

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}


/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
  float: left;
  width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.deletebtn {
  background-color: #f44336;
}

/* Add padding and center-align text to the container */
.container {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 100;
  top: 100;
  right: 100;
  bottom: 100;
  width: 75%; /* Full width */
  height: 75%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid black;
  margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .deletebtn {
     width: 100%;
  }
}
/** tableshort **/
th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #404040 transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}
