<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="#">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- my custom CSS goes here -->
    <link rel="stylesheet" href="css/styles.css">

    <title>Oconee Fire Department - View Certifications</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md">
      <a class="navbar-brand" href="home.html">Oconee Fire Department</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">Members<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="viewCertification.html">Certifications</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Reports</a>
            <div class="dropdown-menu">
            <a class="dropdown-item" href="memberreport.html">Member Report</a>
            <a class="dropdown-item" href="certificationReport.html">Certification Report</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Detailed Lists</a>
            <div class="dropdown-menu">
            <a class="dropdown-item" href="memberList.html">Member Details</a>
            <a class="dropdown-item" href="certificationList.html">Certification Details</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <div id="generateCert">
        <div class="container-fluid">
          <div class="row">
          <div class= "col-6 cardPaneLeft cardPane">
            <h1>Create and Edit Certification</h1>
            <form method="post" id="newCertForm" v-on:submit.prevent="handleNewCertForm()">
              <div class="Cert">
                <label for="submitNewCert">Certification Name</label>
                <input type="text" v-model="newCert.certName" class="form-control" id="certName" placeholder="Name">
                <label for="submitNewCert">Certification Agency</label>
                <input type="text" v-model="newCert.certAgency" class="form-control" id="certAgency" placeholder="Agency">
                <label for="submitNewCert">Certification Exp Period </label>
                <input type="text" v-model="newCert.expPeriod" class="form-control" id="expPeriod" placeholder="Summer">
              </div><br/>
              <button type="submit" value="Create Certification" class="button btn-primary" id="submitNewCert" v-if="!updateMode">Create</button>
              <button type="submit" value="Update Certification" id="updateNewCert" class="btn btn-success" v-if="updateMode">Update</button>
            </form>
            </div>

            <div class="col-6 cardPane cardPaneRight">
              <h3>Summary of Certifications</h3>
              <dl>
                <dt>AED</dt>
                <dd>- Proven capability with an Automated External Defibrillator.</dd>
                <dt>CPR</dt>
                <dd>- Certificate in Cardiopulmonary Rescuscitation.</dd>
                <dt>Firefighter 1</dt>
                <dd>- Training in: Safety, Communication, Tools, Equipment, Incident Response.</dd>
                <dt>Firefighter 2</dt>
                <dd>- Firefighter 1 with additional training in: Fire Cause Determination, Terrorism Awareness, Community Outreach.</dd>
                <dt>Peace Officer's Standard and Training</dt>
                <dd>- Training in: De-escalation, Public Safety, Violence Management.</dd>
                <dt>EMT-B</dt>
                <dd>- Beginner Paramdeic Training.</dd>
                <dt>Paramedic</dt>
                <dd>- EMT Training + 1,200 to 1,800 hours of experience.</dd>
              </dl>
            </div>
          </div>
</br>
            <div class="col-12 cardPane">
                <h3>Certifications</h3>
              <table id="CertTable" class="table table-sm" border="solid">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Agency</th>
                    <th scope="col">Exp Period</th>
                    <th scope="col">Options</th>
                  </tr>
                </thead>
                <tbody id="CertTableBody">
                    <tr v-for="Cert in Cert">
                      <td><span> {{Cert.certName}}</span></td>
                      <td><span> {{Cert.certAgency}}</span></td>
                      <td><span> {{Cert.expPeriod}}</span></td>
                      <td><span><button type="button" class="btn btn-primary btn-sm" v-on:click="setUpdateCert(Cert)">Update</button></span>
                      <span><button v-on:click="deleteCert(Cert.certificationID)" class="btn btn-dark btn-sm" >Delete</button></span></td>
                    </tr>
                </tbody>
              </table>
              </div>

        </div>
      </div>


    <!-- END content -->

    <!-- Footer? Insert here -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <div id="id01" class="modal">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
      <form class="modal-content" action="/action_page.php">
        <div class="container">
          <h1>Delete Member</h1>
          <p>Are you sure you want to delete this member?</p>

          <div class="clearfix">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="btn btn-secondary cancelbtn">Cancel</button>
            <button type="button" onclick="document.getElementById('id01').style.display='none'" value="Delete Certification" id="deleteCert" class="btn btn-danger deletebtn" v-on:click="deleteCert(Cert.certificationID)">Delete</button>
          </div>
        </div>
      </form>
    </div>
    </div>
    <script>
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    </script>

    <footer class="page-footer font-small mdb-color lighten-3 pt-4">

    <!-- Footer Elements -->
    <div class="container">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4">

          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="images/alexaHeadshot.JPG" class="img-fluid"
              alt="" height="500">
              <figcaption> Alexa Bruetman - Designer</figcaption>
            <a href="">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-3 mb-4">

          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="images/jeremy_sqaure.jpg" class="img-fluid img-circle"
              alt="">
              <figcaption> Jeremy Schwartz - Developer</figcaption>
            <a href="">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-3 mb-4">

          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="images/matt.jpg" class="img-fluid"
              alt="">
              <figcaption> Matthew Fields - Solutions Engineer</figcaption>
            <a href="">

              <div class="mask rgba-white-light"></div>
            </a>
          </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4">

          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="images/aidan_sqaure.jpg" class="img-fluid img-circle"
              alt="" height="200">
              <figcaption> Aidan Wheeler - Content Strategist</figcaption>
            <a href="">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>

        </div>


      </div>
      <div class="row" id="footerDiv" text-align=center>

        <div class="col">
        </div>
        <div class="col">
        <p>Contact<a href="mailto:yeehaw@gmail.com"> yeehaw@gmail.com </a>for quotes on websites</p>
      </div>
      <div class="col">
      </div>

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->

    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/viewCert.app.js"></script>
  </body>
</html>
